.info {
	border: 3px solid #662900;
	box-shadow: 1px 19px 15px 9px rgba(0,0,0,.2);
	background-color:#b75635;
	padding: 0px 0px 100px 0px;
	border-radius: 25px;

	
}
.box1 {
	
	box-shadow: 1px 19px 15px 9px rgba(0,0,0,.2);
	background-color:#fff;
	color: black;
}
.box2 {
	border: px solid black;
	box-shadow: 1px 19px 15px 9px rgba(0,0,0,.2);
	background-color: #fff;
	top: 50px;
	color: black;
	padding: 1000px 50px 50px 50px;"
}
#link {
	color:black;

}
h1 {
	font-family:OpenSans;
	font-size: 26px;
}
h2 {
	font-family:arial;
	font-size: 17px;
}
#link:hover{
	color:brown;
}
#link:active{
	color:green;
}
.publish-button {
  background-color: #4CAF50;
  color: white;
  float: right;
  border: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 50px;
}
.publish-button:hover{
	      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10), 0 6px 20px 0 rgba(0,0,0,0.25);

	    }
.hexagon  {
	clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
 
}
.contactus-button {
  background-color: #d6d6c2;
  color: black;
  border: none;
  display: inline-block;
  font-size: 16px;
  padding: 10px 40px;
}
.contactus-button:hover{
	      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.10), 0 6px 20px 0 rgba(0,0,0,0.25);
}
	    

.parallax {
	background-image: url("macro-depth-of-field-laptop-code-wallpaper-preview.jpg");
	 height:;
	 width:;
	 background-attachment: fixed;
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 padding-bottom: ;
}
