.navBar{
	background-color: #5cb85c;
}
#linkcolor{
	color:white;
	background-color: #5cb85c;
}
#linkcolor:hover{
	color:black;
}
#linkcolor:active{
	color:green;
}
.centered {
  position: absolute;
  color:white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  color: grey;
  font-size: 18px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.datestyle{
	float: right;
	color:grey;
}
.questionstyle{
	padding:10px;
}
.viewAllQuestionButton{
	border-radius: 0px;
	box-shadow: 2px 11px 10px 3px rgba(0,0,0,.2);
}
.allQuestionButtonPlace{
	text-align: right;
	padding:1px;
}
.categoryBoxes{
	box-shadow: 1px 19px 15px 9px rgba(0,0,0,.2);
	background-color: white;
}